*
{
	margin: 0;
	padding: 0;
}
body 
{
	font-family: 微软雅黑;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 微软雅黑;
}
.banner img
{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 200px;
}
.contact
{
	position: fixed;
	top: 55px;
	right: -15px;
	width: 50px;
	height: 160px;
	
}
.contact button
{
	display: block;
	padding: 30px 15px;
	width: 50px;
	height: 160px;
	text-align: center;
	background-color: #fff;
	font-size: 18px;
	word-wrap: break-word;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #888888;
}

.contact-content
{
	display: none;
	position: fixed;
	width: 455px;
	height: 200px;
	top: 55px;
	right: 55px;
	padding: 50px;
	background-color: #6699cc;
	border-radius: 10px;
	color: #fff;
	font-size: 15px;
	font-family: 微软雅黑;
}
.contact-content .label
{
	display: inline-block;
	width: 150px;
	height: 27px;
	padding:20px 20px 0 20px;
	text-align: right;
}
.contact-content input
{
	display:inline-block;
	border-radius: 5px;
	height: 25px;
	width: 200px;
}
.contact-content button
{
	display:block;
	border-radius: 5px;
	width: 50px;
	height: 35px;
	margin-top: 20px;
	margin-left: 200px;
	background-color: #6699cc;
	color: #fff;
	font-size: 15px;
	font-family: 微软雅黑;
}
.container
{
	margin:30px auto;
	width: 1170px;
	height: 450px;
	padding-top: 55px;
}
.container .text
{
	padding: 0 50px;
	float: left;
	width: 310px;
}
.container .text h2
{
	font-size: 28px;
	font-weight: normal;
}
.container .text p
{
	font-size: 16px;
	padding: 0 10px;
	padding-top: 96px;
	word-wrap: break-word;
}
.container .text p span
{
	font-weight: bold;
}
.container .image
{
	padding: 0 30px;
	display: block;
	float: left;
}
.myaction
{
	background-color: #66cccc;
}
.myaction .container .text h2
{
	color: #ffffff;
}
.myaction .container .text p
{
	color: #ffffff;
}
.guestlist
{
	background-color: #cc9933;
}
.guestlist .container .text h2
{
	color: #ffffff;
}
.guestlist .container .text p
{
	color: #ffffff;
}
.interactive
{
	background-color: #99ccff;
}
.interactive .container .text h2
{
	color: #ffffff;
}
.interactive .container .text p
{
	color: #ffffff;
}
.footer
{
	background-color: #66cccc;
	color: #fff;
	margin-top: 105px;
	height: 480px;
}
.footer p.p1
{
	font-size: 20px;
	padding-top:50px; 
	margin: 0 auto;
	width: 1170px;
}
.footer p.p2
{
	padding-top: 100px;
	font-size: 30px;
	margin: 0 auto;
	width: 1170px;
}
.index
{
	width: 100%;
}
.index-container
{
	position: fixed;
	padding-top: 300px;
	text-align: center;
	background: url(../image/indexbg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	/*background: url(../image/indexbg.jpg) fixed center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;*/
}
.qqonline
{
	position: fixed;
	right: 0;
	top: 100px;
}
.qqonline a img
{
	/*width: 35px;
	height: 120px;*/
}
.online
{
	display: inline-block;
	background-color: #9acd3d;
}
.customize
{
	display: inline-block;
	background-color: #63b4fb;
}
.entrance
{
	width: 350px;
	height: 175px;
	padding-top: 15px; 
	text-align: center;
	color: #fff;
}
.entrance h2
{
	font-weight: normal;
	font-size: 24px;
}
.entrance p
{
	font-size: 15px;
}
.entrance a
{
	display: block;
	background-color: #a93e3e;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #888888;
	color: #fff;
	width: 150px;
	height: 40px;
	margin: 30px 100px;
	padding-top: 8px; 
	font-size: 16px;
	font-family: 微软雅黑;
}
.entrance a:hover
{
	text-decoration: none;
	color:#fff;
}