*
{
	margin: 0;
	padding: 0;
}
body 
{
	font-family: 微软雅黑;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 微软雅黑;
}
.contact
{
	position: fixed;
	top: 55px;
	right: -15px;
	width: 50px;
	height: 160px;
	background: url(../image/u62.png) no-repeat;
	font-size: 18px;
}
.contact p
{
	padding: 30px 15px;
	width: 30px;
	border: 0px;
	word-wrap: break-word;
}
.contact a,a:hover,a:visited
{
	text-decoration: none;
	color: #000;
}
.contact-content
{
	position: fixed;
	margin: 55px 400px;
	width: 455px;
	height: 200px;
	border: 1px bold #000;
	/*border:1px;
	border-radius: 10px;
	width: 200px;
	height: 100px;*/
}
.container
{
	position: relative;
	clear: both;
	margin:30px auto;
	width: 1170px;
	height: 450px;
	padding-top: 55px;
}
.container .text
{
	padding: 0 50px;
	float: left;
	width: 310px;
}
.container .text h2
{
	font-size: 28px;
	font-weight: normal;
}
.container .text p
{
	font-size: 16px;
	padding: 0 10px;
	padding-top: 96px;
	word-wrap: break-word;
	/*font-weight: 400;*/
}
.container .text p span
{
	font-weight: bold;
}
.container .image
{
	padding: 0 30px;
	display: block;
	float: left;
}
.myaction
{
	background-color: #66cccc;
}
.myaction .container .text h2
{
	color: #ffffff;
}
.myaction .container .text p
{
	color: #ffffff;
}
.guestlist
{
	background-color: #cc9933;
}
.guestlist .container .text h2
{
	color: #ffffff;
}
.guestlist .container .text p
{
	color: #ffffff;
}
.interactive
{
	background-color: #99ccff;
}
.interactive .container .text h2
{
	color: #ffffff;
}
.interactive .container .text p
{
	color: #ffffff;
}
.index
{
	width: 100%;
}
.index-container
{
	/*position: absolute;*/
	margin: 0 auto;
	width: 1320px;
	height: 800px;
	padding-top: 300px;
	text-align: center;
	background: url(../image/indexbg.jpg) no-repeat;

}
.qqonline
{
	position: fixed;
	right: 0;
	top: 100px;
}
.qqonline a img
{
	width: 35px;
	height: 120px;
}
.online
{
	display: inline-block;
	background-color: #9acd3d;
}
.customize
{
	display: inline-block;
	background-color: #63b4fb;
}
.entrance
{
	width: 350px;
	height: 175px;
	padding-top: 15px; 
	text-align: center;
	font-family: 宋体;
	color: #fff;
}
.entrance h2
{
	font-weight: normal;
	font-size: 24px;
}
.entrance p
{
	font-size: 15px;
}
.entrance a
{
	display: block;
	background-color: #a93e3e;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #888888;
	color: #fff;
	width: 150px;
	height: 40px;
	margin: 30px 100px;
	padding-top: 8px; 
	font-size: 16px;
	font-family: 微软雅黑;
}
.entrance a:hover
{
	text-decoration: none;
	color:#fff;
}